.App {
  display: flex;
}
.listPersons {
  display: flex;
  list-style: none;
}
.user {
  border-bottom: 1px solid rgb(40, 168, 151);
  display: grid;
  grid-template-columns: 30% 1fr;
}
.photo__container {

}
.person__data{
  text-transform: capitalize;
  text-align: left;
  
}
.person__data--name {
  text-transform: capitalize;
}
.select{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  height: 20px;
  text-align: center;
}
.filterSearch {
  display: flex;
  height: 200px;
  flex-direction: column;
}